---
import { Image } from "astro:assets";
import logo2 from "../assets/logos/Atlantica_Logo_White_1.png";

import uol from "../assets/logos/uol.png";
import iads from "../assets/logos/iads.png";

const day1 = [
	{
		start: "8.30am",
		finish: "9.00am",
		event: "Arrival and Registration<br />Housekeeping rules and remarks",
		presenter: "<strong>Dr Abisoye Eleshin</strong><br />(IADS, UNILAG)",
	},
	{
		start: "9.05am",
		finish: "9.15am",
		event: "Welcome address",
		presenter:
			"<p><strong>Prof Muyiwa Falaiye</strong><br />(Director, IADS, UNILAG)</p><p><strong>Prof William Gallois</strong><br />(Asst. Director, Institute of Arabic & Islamic Studies, University of Exeter)</p>",
	},
	{
		start: "9.15am",
		finish: "9.25am",
		event: "Opening remarks",
		presenter:
			"<strong>Prof Folasade Ogunsola</strong><br />(Vice Chancellor, UNILAG)",
	},
	{
		start: "9.25am",
		finish: "9.30am",
		event: "Keynote Speaker Citation",
		presenter: "<strong>Dr Abisoye Eleshin</strong><br />(IADS, UNILAG)",
	},
	{
		start: "9.30am",
		finish: "10.30am",
		event: "With my Toes in the Soil: From a Plateau to a Spiritual Atlantica",
		presenter:
			"<strong>Prof Ruth Simbao</strong><br />(National Research Foundation SARChI Chair in Geopolitics and the Arts of Africa, Rhodes University, RSA)",
	},
	{
		start: "10.30am",
		finish: "10.45am",
		event: "Have you ever seen the Sunrise on Brackish Waters? (Eko Ile)",
		presenter: "<strong>Lara Oshinowo</strong>",
	},
	{
		start: "10.45am",
		finish: "11.10am",
		event: "<strong>Tea Break</strong>",
		presenter: "",
	},
	{
		start: "11.10am",
		finish: "12.40pm",
		event: "<p><strong>Session 1: African Re-groundings</strong></p><p><strong>Bizuum Yadok</strong> – In Defense of Leoparditude: A Case to Update an Indigenous African Literary Theory (VIRTUAL)</p><p><strong>Gbenga Fasiku</strong> – Embodied Philosophy: Foundation for Unbundling African Knowledge System</p><p><strong>Bolanle Adetula</strong> – Subconscious trails of African Study: Re-imaging Contemporary African Studies.</p><p><strong>Muhammad Finch</strong> – Unveiling an Ante-Onto-Epistemology: Shaikh Ibrāhīm Niasse and the Paradigmatic Shift in Afro-Islamic Thought (VIRTUAL)</p><p><strong>Bolatito Kolawole</strong> – Indigenous Language Re-learning and the Question of Return</p>",
		presenter:
			"Chair: <strong>Prof Muyiwa Falaiye</strong><br />(Director, IADS, UNILAG)",
	},
	{
		start: "12.40pm",
		finish: "1.00pm",
		event: "<i>The Egba Revolt: Recovering the Egba Women’s strategies, Stories and Songs</i>",
		presenter: "<strong>Lanaire Aderemi</strong>",
	},
	{
		start: "1.00pm",
		finish: "1.55pm",
		event: "<strong>Lunch</strong>",
		presenter: "",
	},
	{
		start: "2.00pm",
		finish: "2.10pm",
		event: "<strong>Estefi Bournot</strong> – Specular Shores: Afro-Brazilian Entanglements from Abolition to the Present (VIRTUAL)",
		presenter: "",
	},
	{
		start: "2.10pm",
		finish: "2.25pm",
		event: "<i>Screening of “(Other)” Foundations</i>",
		presenter: "",
	},
	{
		start: "2.25pm",
		finish: "2.45pm",
		event: "Conversation with <strong>Aline Motta</strong>",
		presenter: "",
	},
	{
		start: "2.45pm",
		finish: "3.00pm",
		event: "Short break",
		presenter: "",
	},
	{
		start: "3.00pm",
		finish: "4.30pm",
		event: "<p><strong>Session 2: African Aesthetics and Material Cultures</strong></p><p><strong>Zainab Bello</strong> – Decolonization of Textile Narratives: A Visual Exploration of Hausa Folktales As Inspiration in Wax Print Designs</p><p><strong>Umana Nnochiri</strong> – Alaptal Cloth: Visual metaphors on textiles (VIRTUAL)</p><p><strong>Kehinde Adepegba</strong> – Interrogating Yoruba Art Through the Epistemology of Number in Yoruba Belief</p><p><strong>Abiodun Abdul</strong> – Past Speculation for Future Inspiration (VIRTUAL)</p><p><strong>Nathaniel Ogunyale</strong> – Beyond Utility: Understanding the Aesthetic and Cultural Dimensions of Yoruba Domestic Artifacts</p>",
		presenter:
			"Chair: <strong>Prof Peju Layiwola</strong><br />(Art History, UNILAG)",
	},
	{
		start: "4.35pm",
		finish: "4.50pm",
		event: "<i>The Poverty of Revolutionary Leaders and the October 20, 2020 Experience</i>",
		presenter: "<strong>Amenaghawon Idawu</strong>",
	},
	{
		start: "4.50pm",
		finish: "5.00pm",
		event: "Housekeeping and Remarks",
		presenter:
			"<strong>Prof Ayo Yusuff</strong><br />(Head of Research, IADS, UNILAG)",
	},
	{
		start: "5.15pm",
		finish: "6.30pm",
		event: "<strong>Drinks Reception:</strong> <i>Shine Your Eye Exhibition</i>",
		presenter: "<strong>Deji Akinpelu</strong>",
	},
];

const day2 = [
	{
		start: "9.00am",
		finish: "9.05am",
		event: "Housekeeping rules and remarks",
		presenter: "<strong>Dr Moses Yakubu</strong><br />(IADS, UNILAG)",
	},
	{
		start: "9.05am",
		finish: "9.10am",
		event: "Introduction of Lead Speaker",
		presenter: "<strong>Dr Moses Yakubu</strong><br />(IADS, UNILAG)",
	},
	{
		start: "9.10am",
		finish: "10.00 am",
		event: "Lead Speaker, <strong>Azu Nwagbogu</strong> (Director, African Artists Foundation/LagosPhoto) in conversation",
		presenter:
			"Chair:  <strong>Prof Tom Trevor</strong><br />(Contemporary Art & Curation, University of Exeter)",
	},
	{
		start: "10.05am",
		finish: "10:20am",
		event: "<i>Nigeria’s Destiny – Poetry as Mirror of Our Cultural Values</i>",
		presenter: "<strong>Ayo Ayoola-Amale</strong>",
	},
	{
		start: "10.20am",
		finish: "10.40am",
		event: "<strong>Tea break</strong>",
		presenter: "",
	},
	{
		start: "10.45am",
		finish: "12.15pm",
		event: "<p><strong>Session 3A: Uncolonialism</strong></p><p><strong>Temitope Fagunwa</strong> – African Studies and Marxism: Any Intersection?</p><p><strong>Olalekan O Hamed</strong> –When the “Gown” is not in “Town”: An Epistemological Discourse of Odun Ifa, Odun Egungun and Esu</p><p><strong>Isaiah Olayode</strong> – Cultural Sensitivity: Redefining Methods of Data Collection in African Studies</p><p><strong>Olabode Ojoniyi</strong> – From the Yoruba Omoluabi Essence Philosophy to Omoluabi Performance Aesthetics for the Nigerian Stage</p>",
		presenter:
			"Chair: <strong>Prof William Gallois</strong><br />(Asst. Director, Institute of Arabic & Islamic Studies, University of Exeter)",
	},
	{
		start: "10.45am",
		finish: "12.15pm",
		event: "<p><strong>Session 3B: Ethnographies</strong></p><p><strong>Manta Yadok</strong> – Creating Folkloric Content Through Digital Ethnographical Approach: Example of My Beautiful Plateau Proverbs Facebook (VIRTUAL)</p><p><strong>Abiodun T Adejumo</strong> – Ethnic Associations and Traditional Institutions in Democratic Nigeria: A Methodological Perspective</p><p><strong>Amoo Abdussalam </strong> – A Morphosemantic Analysis of Death Related Yoruba personal names (VIRTUAL)</p><p><strong>Bukola Amodu</strong> – Si Panpanla, Iyawo t'owo osi b'obe</p><p><strong>Dr Isoken Onoyona-Ekeocha</strong> – Won te ge Asake l'eti lo: an ontological exploration of mutilated bodies, as seen from Lagos</p>",
		presenter:
			"Chair: <strong>Prof Patrick Oloko</strong><br />(Literature & Cultural Studies, UNILAG)",
	},
	{
		start: "12.15pm",
		finish: "12.25pm",
		event: "<strong>Short break</strong>",
		presenter: "",
	},
	{
		start: "12.25pm",
		finish: "12.40pm",
		event: "<i>Reimagining Roots: A Multisensory Journey</i>",
		presenter: "<strong>Mykel Akomaye</strong>",
	},
	{
		start: "12.45pm",
		finish: "1.40pm",
		event: "<u>PANEL</u>: <i>Decolonizing Knowledge Production and Consumption in Post-Colonial Africa: Challenges and Pathways for a Global Decolonial Africanity</i>",
		presenter: "<strong>Fela Kuti Study Group</strong>",
	},
	{
		start: "1.40pm",
		finish: "2.35pm",
		event: "<strong>Lunch</strong>",
		presenter: "",
	},
	{
		start: "2.40pm",
		finish: "3.00pm",
		event: "<i>Echoes of Resistance: Unveiling Anticolonial Soundscapes through Listening Sessions</i>",
		presenter: "<strong>Rui Vilela</strong>",
	},
	{
		start: "3.00pm",
		finish: "4.15pm",
		event: "<p><strong>Session 4: Atlantica</strong></p><p><strong>Darren Woodland</strong> – Afrofuturist Motifs of Metamorphosis and Transfiguration in Media Arts and Design (VIRTUAL)</p><p><strong>Feyisayo Ademola-Adeoye</strong> – Re-grounding African Studies through African Languages: Making a case for Nigerian Pidgin</p><p><strong>Abideen Amodu</strong> – Queerness in Lagos: Space, Place, and Community Attunements</p><p><strong>Hellen Kilelo</strong> – Decoloniality in African Research: What Lessons can we draw from studying the Wahine Maori?</p>",
		presenter:
			"Chair: <strong>Dr Anthony Okeregbe</strong><br />(Philosophy, UNILAG)",
	},
	{
		start: "4.15pm",
		finish: "4.40pm",
		event: "<i>African Indigenous Knowledge Production and the Arts: Reading from Wishes - A Play</i>",
		presenter: "<strong>Dr Abisoye Eleshin</strong>",
	},
	{
		start: "4.40pm",
		finish: "4.55 pm",
		event: "Closing Remarks",
		presenter:
			"<strong>Prof Muyiwa Falaiye</strong><br />(Director, IADS, UNILAG)",
	},
	{
		start: "4.55pm",
		finish: "5.00pm",
		event: "Vote of Thanks",
		presenter:
			"<strong>Prof Ayo Yusuff</strong><br />(Head of Research, IADS, UNILAG)",
	},
	{
		start: "5.30pm",
		finish: "",
		event: "Dinner/Social gathering",
		presenter: "",
	},
];

const { tag: Element = "h1" } = Astro.props;
---

<article
	class="relative [text-wrap:pretty] selection:text-black selection:bg-zinc-100"
>
	<div
		class="prose prose-zinc prose-invert mx-auto pt-4 pb-8 px-4 md:pt-8 md:px-8 md:p-16"
	>
		<table class="text-lg font-cond text-zinc-100">
			<tbody>
				<tr
					class="flex flex-col items-center lg:flex-row lg:justify-between"
				>
					<td class="p-0">Platform 1: Lagos</td>
					<td class="p-0 lg:text-right"
						>UNILAG / University of Exeter</td
					>
				</tr>
			</tbody>
		</table>
		<div class="py-20">
			<div class="flex justify-center">
				<a href="/" class="transition-opacity hover:opacity-50">
					<Image
						src={logo2}
						alt="Atlantica Logo"
						widths={[300, 600, 900]}
						class="h-16 w-[256px] object-contain mb-0"
					/>
				</a>
			</div>
			<p class="lead text-center text-zinc-100 font-cond mb-8">
				<span class="font-bold">UNILAG-Exeter Atlantica Symposium</span>
				<br />
				Institute of African and Diaspora Studies
			</p>
			<Element class="text-center font-exp uppercase my-0 text-4xl">
				Seen from Lagos
			</Element>
			<p class="text-3xl text-center text-zinc-100 mb-0 font-exp mt-4">
				African Re-groundings
			</p>
		</div>

		<div class="text-zinc-300 font-exp lead pb-10">
			<p class="mb-0 font-exp font-normal">
				Dates:
				<br />
				<span class="font-exp font-bold"
					>Tuesday 25 - Wednesday 26 June 2024</span
				>
			</p>

			<p class="mb-0 font-exp font-normal">
				Venue:
				<br />
				<span class="font-exp font-bold">
					Arthur Mbanefo Digital Research Centre (AMDRC)<br
					/>University of Lagos (UNILAG)
				</span>
			</p>

			<p class="mb-0 font-exp font-normal">
				Teams link:
				<br />
				<span class="font-exp font-bold">
					<a class="font-bold" href="https://rb.gy/at433c"
						>https://rb.gy/at433c</a
					>
				</span>
			</p>
		</div>
		<h2 class="text-3xl font-exp font-bold">Programme of Events</h2>
	</div>
	<section class="relative mx-auto pb-16 px-4 md:px-8 md:pb-32 max-w-[900px]">
		<h3 class="font-exp text-2xl font-bold mb-6">Tuesday 25th</h3>
		<header
			class="sticky top-0 bg-white text-blue-950 sm:grid sm:gap-2 sm:grid-cols-5 py-2 hidden font-exp font-bold"
		>
			<p class="mx-2">Time</p>
			<p class="sm:col-span-2 mx-2">Event</p>
			<p class="sm:col-span-2 mx-2">Presenter</p>
		</header>
		<ul class="border-t border-white sm:border-0">
			{
				day1.map((d) => (
					<li class="sm:grid sm:gap-2 sm:grid-cols-5 space-y-4 sm:space-y-0 py-4 border-b border-white">
						<div class="mx-2">
							{d.start}
							{d.finish && `–${d.finish}`}
						</div>
						<div
							class="sm:col-span-2 space-y-4 mx-2"
							set:html={d.event}
						/>
						<div
							class="sm:col-span-2 space-y-4 mx-2"
							set:html={d.presenter}
						/>
					</li>
				))
			}
		</ul>
	</section>
	<section class="relative mx-auto pb-8 px-4 md:px-8 md:pb-16 max-w-[900px]">
		<h3 class="font-exp text-2xl font-bold mb-6">Wednesday 26th</h3>
		<header
			class="sticky top-0 bg-white text-blue-950 sm:grid sm:gap-2 sm:grid-cols-5 py-2 hidden font-exp font-bold"
		>
			<p class="mx-2">Time</p>
			<p class="sm:col-span-2 mx-2">Event</p>
			<p class="sm:col-span-2 mx-2">Presenter</p>
		</header>
		<ul class="border-t border-white sm:border-0">
			{
				day2.map((d) => (
					<li class="sm:grid sm:gap-2 sm:grid-cols-5 space-y-4 sm:space-y-0 py-4 border-b border-white">
						<div class="mx-2">
							{d.start}
							{d.finish && `–${d.finish}`}
						</div>
						<div
							class="sm:col-span-2 space-y-4 mx-2"
							set:html={d.event}
						/>
						<div
							class="sm:col-span-2 space-y-4 mx-2"
							set:html={d.presenter}
						/>
					</li>
				))
			}
		</ul>
	</section>
	<div
		class="prose prose-zinc prose-invert mx-auto pt-4 pb-8 px-4 md:pt-8 md:px-8 md:p-16"
	>
		<p class="lead text-zinc-300">
			The inaugural UNILAG-Exeter <i>Atlantica</i> symposium, <strong
				><i>Seen from Lagos</i></strong
			> is oriented towards the future in its exploration of solutions and
			routes through barriers which we find in the contemporary academy. It
			begins with the fear identified by Muyiwa Falaiye in his 2017 essay “Is
			African Studies Afraid of African Philosophy?” If even specialised branches
			of Area Studies devoted to the study of Africa are either ignorant of,
			or uneasy in dealing with, theories, concepts and methods drawn from
			African knowledge systems, what hope is there for the broader fields
			of the Humanities and the Social Sciences?
		</p>
		<p>
			While the subsequent years since the publication of Falaiye’s
			article have vibrantly trailed the rise of a “decolonial turn,”
			particularly in institutions in the Global North, there is scant
			evidence that academic disciplines have shown any appetite to find
			new ways to think from or with modes of thought from the Global
			South. Equally noteworthy is the inadequacy of mutually conceived
			intentional conversations bridging knowledge spaces of the Global
			South. Though unacknowledged, this is partly a function of the
			difficulties entailed in both unlearning existing modes of
			perceiving the world, and navigating through various entanglements
			of subjectivities, alongside the hard graft needed in opening one’s
			mind to understanding through other languages, concepts and modes of
			being.
		</p>
		<p>
			This <i>Atlantica</i> platform directly addresses such deficits through
			the provision of case studies which it hopes will inspire others to see
			the expected awakening which can arrive through approaches to knowledge
			creation which find inspiration in specific schools of thinking or praxis
			from the African continent. As such, it showcases philosophical studies
			which are able to engage prevalent pedagogies, explore and situate the
			value of indigenous epistemologies; not necessarily divorcing them from
			broader currents within their academic fields, though naming and enumerating
			their specific utility.
		</p>
		<p>
			A second originating position lies in the study of art, both through
			forms of cultural practice and in the discipline of the history of
			art as it has been reconstrued by African – and especially Nigerian
			– writers such as Chika Okeke-Agulu and Rowland Ọlá Abíọ́dún.
			Beginning with this latter thinker, we take seriously his admonition
			that we are faced with the “urgent task” not simply of documenting
			global differences but ensuring “the survival and essential role of
			African artistic and aesthetic concepts in the study of art in
			Africa.” For this to happen, Abíọ́dún proposes a progressive
			abandonment of the conventional methods of the Western humanities,
			for their tendency is one of “concealing and even eliminating the
			social and religio-aesthetic foundation of the visual arts.”
		</p>
		<p>
			Looking beyond Africa towards other exemplars, we are able to see
			the manner in which fundamental notions of time, history and
			aesthetics have been upended in quite general, as well as scholarly,
			fashions in locales such as Australia, where indigenous modes of
			artistic production have induced paradigmatic changes in thought.
			Similar tendencies can also be seen in specialised fields of study
			in Islamic art, in which the specificity of forms of Muslim
			spiritual enlightenment are prized above the emplacement of works of
			art within Western frames of knowledge.
		</p>
		<p>
			Returning to Nigeria, it is arguable that one of the greatest
			conceptual gains which has emerged through the creation of
			indigenous forms of modernism by groups such as the Nsukka School
			has been their imagination of cultural production as a marriage of
			forms. Far from precluding deeper understandings of indigenous
			knowledge, fine art presents opportunities to disseminate such
			understandings in new fashions, to both local and international
			audiences. Relatedly, the degree to which an easy interchange across
			the study and making of art – evinced at UNILAG in the work of Peju
			Layiwola and others – reflects a positive belief in the ideal of
			conceptual and embodied forms of knowledge-making working in tandem.
		</p>
		<hr />
		<p>
			<i>Seen from Lagos</i> is the first in a new series of <i
				>Atlantica</i
			> platforms and events, building towards a pan-Atlantic biennial of contemporary
			art and critical enquiry. Working with artists, writers and communities,
			<i>Atlantica</i> aims to re-examine the multiple histories and ‘historical
			presents’ of the Atlantic from diverse contemporary perspectives, challenging
			the supposedly ‘universal’ knowledge system that has inherently privileged
			a Eurocentric worldview.
		</p>
		<p>
			<i>Seen from Lagos</i> is co-convened by Prof Muyiwa Falaiye, Institute
			of African and Diaspora Studies, and Prof Peju Layiwola, Art History,
			at University of Lagos, together with Prof William Gallois, Institute
			of Arab and Islamic Studies, and Prof Tom Trevor, Art History and Visual
			Culture, at University of Exeter. The programme has been coordinated
			with the support of Prof Ayodele Yusuff and Ms. Bolatito Kolawole. The
			<i>Atlantica</i> series is convened by Prof Tom Trevor.
		</p>
		<div
			class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 bg-white justify-between items-center p-4"
		>
			<Image
				src={uol}
				alt="University of Lagos"
				widths={[300, 600, 900]}
				class="w-[120px] my-0"
			/>
			<Image
				src={iads}
				alt="Institute of African and Diaspora Studies"
				widths={[300, 600, 900]}
				class="w-[120px] my-0"
			/>

			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				class="w-[280px] object-fill my-0"
				viewBox="0 0 1110 377"
			>
				<path
					fill="#00C896"
					d="M376.5 188.3c0 104-84.3 188.3-188.3 188.3C84.2 376.6 0 292.2 0 188.3S84.3 0 188.3 0c104 0 188.2 84.3 188.2 188.3Z"
				></path>
				<path
					fill="#fff"
					d="M282.3 114.1V90.8001h-24.5c-19.6-14-43.6-22.2-69.5-22.2s-49.9 8.2-69.5 22.2H94.3001V114.1c-16.1 20.4-25.7 46.1-25.7 74.1 0 40.8 20.5 76.9 51.6999 98.5 2 1.4 4 2.6 6.1 3.7l61.9 32.8 61.9-32.8c2.3-1.2 4.4-2.5 6.5-4 31-21.6 51.3-57.6 51.3-98.3 0-27.8-9.6-53.6-25.7-74Z"
				></path>
				<path
					fill="#003C3C"
					d="M277.3 237.5V96.1001H99.2998V237.5c0 20.5 11.3002 39.4 29.5002 49l59.5 31.5 59.5-31.5c18.1-9.7 29.5-28.5 29.5-49Zm-57 45.8c0-3.1 2.5-5.7 5.7-5.7 3.1 0 5.7 2.5 5.7 5.7 0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7Zm-38 18.6c0-3.1 2.5-5.7 5.7-5.7 3.1 0 5.7 2.5 5.7 5.7s-2.5 5.7-5.7 5.7-5.7-2.6-5.7-5.7Zm-17.9-25.7 23.9-12.9 23.8 12.9-23.9 12.6-23.8-12.6Zm-20 7.1c0-3.1 2.5-5.7 5.7-5.7 3.1 0 5.7 2.5 5.7 5.7 0 3.1-2.6 5.7-5.7 5.7-3.1-.1-5.7-2.6-5.7-5.7ZM125 229.1l41.2 22.3-24.1 13-1.3-.7c-4.8-2.5-8.8-6.3-11.5-10.9-2.8-4.6-4.3-9.9-4.3-15.3v-8.4Zm-18.6-4.1c0-3.1 2.5-5.7 5.7-5.7 3.1 0 5.7 2.5 5.7 5.7 0 3.1-2.6 5.7-5.7 5.7-3.2 0-5.7-2.6-5.7-5.7Zm0-38.3c0-3.1 2.5-5.7 5.7-5.7 3.1 0 5.7 2.5 5.7 5.7 0 3.1-2.6 5.7-5.7 5.7-3.2 0-5.7-2.6-5.7-5.7Zm0-38.3c0-3.1 2.5-5.7 5.7-5.7 3.1 0 5.7 2.5 5.7 5.7 0 3.1-2.6 5.7-5.7 5.7-3.2-.1-5.7-2.6-5.7-5.7Zm11.5-39.3c0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7 0-3.1 2.6-5.7 5.7-5.7 3.2 0 5.7 2.6 5.7 5.7Zm6.2 150.1c0 3.1-2.5 5.7-5.7 5.7s-5.7-2.5-5.7-5.7c0-3.1 2.5-5.7 5.7-5.7s5.7 2.6 5.7 5.7Zm44.4-150.1c0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7 0-3.1 2.5-5.7 5.7-5.7 3.1 0 5.7 2.6 5.7 5.7Zm50.5 0c0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7 0-3.1 2.5-5.7 5.7-5.7s5.7 2.6 5.7 5.7Zm32.6 96.2-63.3 34.1-63.3-34.2v-83.4h126.6v83.5Zm0 32.2c0 5.4-1.5 10.7-4.2 15.3-2.8 4.6-6.8 8.4-11.5 10.9l-1.3.7-24.1-13 41.1-22.2v8.3Zm6.5 16.2c3.1 0 5.7 2.5 5.7 5.7 0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7.1-3.2 2.6-5.7 5.7-5.7Zm11.5-144.6c0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7 0-3.1 2.5-5.7 5.7-5.7s5.7 2.6 5.7 5.7Zm0 39.4c0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7 0-3.1 2.5-5.7 5.7-5.7s5.7 2.6 5.7 5.7Zm0 38.3c0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7 0-3.1 2.5-5.7 5.7-5.7s5.7 2.6 5.7 5.7Zm0 38.3c0 3.1-2.5 5.7-5.7 5.7-3.1 0-5.7-2.5-5.7-5.7 0-3.1 2.5-5.7 5.7-5.7s5.7 2.6 5.7 5.7Zm-81.3-6.5 2.4 1.7h15.8l2.9-1.5v-19.9l-1.6-1.6v20.2l-3.9-1.9c-2.4-1.2-4.7-1.8-6.8-1.8-2.1 0-4.4.6-6.8 1.8l-2 1-2-1c-2.4-1.2-4.7-1.8-6.8-1.8-2.1 0-4.4.6-6.8 1.8l-3.9 1.9v-20.4l-1.5 1.8v20l2.9 1.5H186l2.3-1.8Zm13.7-35.3 12.1 9.2c.8-6.5 1.6-12.9 2.3-18.9l-17.3-13.1c.9 7.3 1.8 15 2.8 22.7l.1.1Zm17.2-22.5c-1.5 12.7-3 25.4-4.6 38 8 3.9 17.1 3.9 25.1 0-1.6-12.7-3.2-25.3-4.6-38-5.3-.8-10.6-.8-15.9 0Zm6.7 11.3c0-.9.3-1.8.8-2.6.2-.3.3-.4.5-.7.2.3.3.4.5.7.5.8.8 1.6.8 2.6v6.2H226l-.1-6.2Zm9.2-12.6c.8-1.1 1.5-2.2 2.4-3.3-6.8-1.8-13.8-1.8-20.5 0l2.4 3.3c5.1-.9 10.4-.9 15.7 0Zm-7.3-6c3.2 0 6.5.5 9.6 1.5v-6.2c-1.2-.5-2.3-.8-3.5-1.1l-1.2 2.4c-.8-.1-1.6-.3-2.4-.4-.4-.9-.8-1.9-1.2-2.8-1.2-.1-2.5-.1-3.7 0-.4.9-.8 1.9-1.2 2.8-.8.1-1.6.2-2.4.4l-1.2-2.4c-1.2.3-2.4.7-3.5 1.1v6.2c3.3-1.1 7-1.6 10.7-1.5Zm-10.5 13.8-2.2-1.6-.5 1.4-2-1.5-.8-2.4-2-1.5-.8 1.2-2-1.5-.8-2.4-2-1.5-.8 1.2-2-1.5-.8-2.4-2.2-1.6s.5 4.2.7 5.8l17.7 13.3c0-1.1.5-5 .5-5Zm-21.1-23.4c.8-1.1 1.5-2.2 2.4-3.3-6.8-1.8-13.8-1.8-20.5 0l2.4 3.3c5.1-.8 10.4-.8 15.7 0Zm-8.6-6c3.6-.1 7.4.4 10.9 1.5v-6.2c-1.2-.5-2.3-.8-3.6-1.1l-1.2 2.4c-.8-.1-1.6-.3-2.4-.4-.4-.9-.8-1.9-1.2-2.8-1.2-.1-2.4-.1-3.7 0-.4.9-.8 1.9-1.2 2.8-.8.1-1.6.2-2.4.4l-1.2-2.4c-1.2.3-2.4.7-3.6 1.1v6.2c3.1-.9 6.4-1.4 9.6-1.5Zm-9.4 15.1-2.2 1.6-.8 2.4-2 1.5-.8-1.2-2 1.5-.8 2.4-2 1.5-.8-1.2-2 1.5-.8 2.4-2 1.5-.6-1.4-2.2 1.6s.5 3.9.6 4.8l17.7-13.3c.2-1.4.7-5.6.7-5.6Zm-20.9 6.5c.8-1.1 1.5-2.2 2.4-3.3-6.8-1.8-13.8-1.8-20.5 0l2.4 3.3c5.1-.9 10.4-.9 15.7 0Zm-8.5-6c3.6-.1 7.4.4 10.9 1.5v-6.2c-1.2-.5-2.3-.8-3.6-1.1l-1.2 2.4c-.8-.1-1.6-.3-2.4-.4-.4-.9-.8-1.9-1.2-2.8-1.2-.1-2.4-.1-3.7 0-.4.9-.8 1.9-1.2 2.8-.8.1-1.6.2-2.4.4l-1.2-2.4c-1.2.3-2.4.7-3.6 1.1v6.2c3-1 6.3-1.5 9.6-1.5Zm-7.3 7.3c-1.5 12.7-3 25.4-4.6 38 8 3.9 17.1 3.9 25.1 0-1.6-12.7-3.1-25.3-4.6-38-5.4-.8-10.7-.8-15.9 0Zm6.6 11.3c0-.9.3-1.8.8-2.6.2-.3.3-.4.4-.7.2.3.3.4.4.7.5.8.8 1.6.8 2.6v6.2H148l.1-6.2Zm14.2 20.3 12.1-9.2v-.2c1-7.7 1.9-15.4 2.8-22.7L160 173.5c.7 6.1 1.5 12.5 2.3 18.9Zm24.5 22 .6.3v-22c-2.9-1.4-5.4-2.1-8-2.1-2.8 0-5.5.8-8.6 2.4l-.7.4v21.9l1.9-1c2.6-1.3 5.1-1.9 7.4-1.9 2.4.1 4.8.7 7.4 2Zm10.2-23.7c-2.6 0-5.1.7-8 2.1v22l.6-.3c2.6-1.3 5.1-1.9 7.4-1.9 2.3 0 4.8.6 7.4 1.9l1.9 1v-21.9l-.7-.4c-3.1-1.8-5.9-2.5-8.6-2.5Zm-8.8-19.2c1.8 1.1 3.3 2.6 4.4 4.5 1 1.8 1.6 3.9 1.6 6v1.9c.7.5 1 .7 1.7 1.3 1.7-.5 3.3-1.1 4.9-1.9-1.6-12.7-3.2-25.4-4.6-38-5.3-.8-10.6-.8-15.8 0-1.5 12.7-3 25.4-4.6 38 1.6.8 3.2 1.4 4.9 1.9.7-.5 1-.7 1.7-1.3V182c-.1-4.3 2.2-8.3 5.8-10.5Zm1.3-8.7H187v-6.2c0-.9.3-1.8.8-2.6.2-.3.3-.4.4-.7.2.3.3.4.4.7.5.7.8 1.6.8 2.6l.1 6.2Zm152.6 55.9c-.1.6-.5 1.1-1 1.5-.5.4-1.1.4-1.7.3-.6-.1-1.1-.4-1.5-1-.4-.5-.5-1.1-.3-1.7.1-.6.5-1.1 1-1.5.5-.3 1.1-.4 1.7-.3.6.1 1.1.4 1.5.9.3.5.4 1.1.3 1.8Zm-19.7 30.6 1.7-4.1c.4-1 1-1.7 1.9-2 .8-.3 1.6-.3 2.5.1.9.4 1.5 1 1.8 1.8.3.8.2 1.7-.2 2.7l-1.7 4-6-2.5Zm20.4-.4 1.8-4.1-11.5 3.4c.4-1 .5-2 .5-3-.1-1.2-.4-2.2-1.1-3.1-.7-.9-1.5-1.6-2.7-2.1-1.1-.5-2.2-.6-3.3-.5-1.1.1-2.1.6-3 1.4-.9.7-1.6 1.7-2.2 3l-3.2 7.5 20.1 8.5 1.4-3.3-8.6-3.6.4-.9 11.4-3.2Zm-16.3 31.8c-.9 1.4-2 2.4-3.4 3-1.4.7-2.8 1-4.3.9-1.5-.1-2.9-.6-4.3-1.5l-11.2-7.5 2-3 11.2 7.5c.9.6 1.8.9 2.7 1 .9.1 1.7-.1 2.5-.5s1.4-1 2-1.8c.5-.8.8-1.6.9-2.5.1-.9-.1-1.7-.5-2.5s-1-1.5-1.9-2.1l-11.2-7.5 2-3 11.2 7.5c1.4.9 2.4 2 3 3.4.6 1.3.9 2.7.8 4.2-.1 1.6-.6 3-1.5 4.4Zm-14.8 19.1-15.2-15.6-1.8 1.7 3.5 15.5-15.4-4-1.8 1.7 15.2 15.6 2.6-2.5-9.7-10 11 2.9 1.8-1.7-2.5-11.1 9.7 10 2.6-2.5ZM281 325.9 268.6 308l3-2 12.4 17.9-3 2Zm-20.1 11.9c-1.5.7-3 1-4.5.9-1.5-.1-2.9-.6-4.1-1.4-1.2-.8-2.2-2-3-3.5l-5.9-12.2 3.2-1.6 5.9 12.1c.5 1 1.1 1.7 1.8 2.2.7.5 1.5.8 2.4.8.9 0 1.7-.1 2.6-.6.9-.4 1.6-1 2-1.7.5-.7.8-1.5.8-2.4 0-.9-.1-1.8-.6-2.7l-5.9-12.2 3.2-1.6 5.9 12.2c.7 1.5 1 3 .9 4.4-.1 1.5-.6 2.8-1.4 4.1-.7 1.5-1.8 2.5-3.3 3.2Zm-29.6 6.5c-.9.9-2.1 1.5-3.5 1.9-1 .3-2.1.3-3 .2-.9-.1-1.9-.5-2.7-1-.8-.5-1.5-1.2-2.1-2-.6-.8-1-1.8-1.3-2.9-.4-1.5-.4-2.9-.1-4.2.3-1.3 1-2.4 1.9-3.3.9-.9 2.1-1.5 3.5-1.9 1.1-.3 2.1-.3 3-.2.9.1 1.9.5 2.7 1 .8.5 1.5 1.2 2.1 2 .6.8 1 1.8 1.3 2.9.4 1.5.4 2.9.1 4.2v.2l-4.7-2.8-1.7 2.8 4.8 2.9c-.1 0-.2.1-.3.2Zm9 1.1-4.1-2.5c.3-.8.6-1.7.7-2.6.2-1.5.1-2.9-.2-4.5-.3-1.6-1-2.8-1.9-4-.9-1.2-2-2.1-3.2-2.9-1.2-.8-2.6-1.2-4-1.5-1.4-.2-2.9-.2-4.4.2-1.5.4-2.8 1-4 1.9-1.2.9-2.1 1.9-2.8 3.2-.7 1.2-1.2 2.6-1.4 4-.2 1.5-.1 2.9.2 4.4.4 1.5 1 2.8 1.9 4 .9 1.2 2 2.1 3.2 2.9 1.2.8 2.6 1.2 4 1.5 1.4.3 2.9.2 4.4-.2 1.5-.4 2.8-1 4-1.9.7-.5 1.3-1.2 1.9-1.8l4.1 2.5 1.6-2.7Zm-35.4 8.1-.2-3.3-11.1.6-.3-6.3 10-.5-.2-3.1-10 .5-.3-5.8 10.9-.6-.2-3.3-14.5.8 1.1 21.8 14.8-.8Zm-36.4-.2c-1.7-.2-3.1-.7-4.2-1.5s-2.1-1.8-2.9-3.1l2.7-2.1c.5.9 1.1 1.7 1.9 2.3.8.6 1.8 1 3.1 1.1 1.2.1 2.2 0 2.9-.4.8-.4 1.2-1 1.3-1.9.1-.7 0-1.3-.3-1.8s-.8-.9-1.3-1.3-1.2-.7-1.9-1c-.7-.3-1.4-.7-2.1-1.1-.7-.4-1.3-.8-1.9-1.4-.6-.5-1-1.2-1.3-1.9-.3-.8-.4-1.7-.2-2.8.1-1.3.6-2.3 1.3-3.2.7-.9 1.7-1.4 2.8-1.8 1.1-.3 2.4-.4 3.7-.3 1.4.2 2.7.6 3.7 1.3 1 .7 1.9 1.5 2.5 2.5l-2.7 2.1c-.5-.8-1.1-1.4-1.7-1.8-.6-.4-1.4-.7-2.2-.8-1.1-.1-1.9 0-2.6.3-.7.3-1 .9-1.1 1.7-.1.7 0 1.2.4 1.7.3.5.8.8 1.4 1.2.6.3 1.2.7 1.9 1 .7.3 1.4.7 2.1 1.1.7.4 1.3.9 1.9 1.4.6.6 1 1.2 1.2 2 .3.8.4 1.8.2 2.9-.2 1.9-1.1 3.4-2.6 4.4-1.8 1.1-3.7 1.5-6 1.2Zm-30.3-29.6-13 9.2-2.1-15.7-2.3-1-8.7 20 3.3 1.4 5.6-12.8 1.6 11.3 2.3 1 9.3-6.5-5.6 12.8 3.3 1.4 8.7-20-2.4-1.1ZM110 313.4l1.9-2.7-11.9-8.3-12.4998 17.8 12 8.4 1.8998-2.7-9.0998-6.3 3.6-5.2 8.1998 5.8 1.8-2.6-8.1998-5.8L101 307l9 6.4Zm-39.2998-7.6c-1.1-1.1-1.9-2.4-2.4-3.7-.5-1.4-.8-2.8-.7-4.2 0-1.4.3-2.8.9-4.1.6-1.3 1.4-2.5 2.6-3.6 1.1-1.1 2.3-1.9 3.7-2.5 1.4-.6 2.7-.9 4.2-.8 1.4 0 2.8.3 4.2.8 1.4.5 2.6 1.4 3.7 2.5 1.2 1.3 2.1 2.5 2.6 3.9.5 1.3.7 2.7.7 4.1h-3.4c.1-1-.1-1.9-.5-2.8-.4-.9-1-1.8-1.8-2.7-.8-.8-1.6-1.3-2.5-1.7-.9-.4-1.8-.5-2.8-.5-.9 0-1.9.2-2.8.6-.9.4-1.8 1-2.6 1.8s-1.4 1.7-1.9 2.6c-.4.9-.7 1.9-.7 2.8 0 .9.1 1.9.5 2.8.4.9.9 1.7 1.7 2.5.9 1 1.9 1.6 2.8 2 .9.4 1.9.5 2.8.5v3.4c-1.4 0-2.8-.3-4.2-.8-1.6-.7-2.8-1.7-4.1-2.9Zm-21.2-26.2c-.9-1.4-1.4-2.8-1.5-4.3-.1-1.5.2-2.9.9-4.3s1.7-2.5 3.1-3.4l11.3-7.4 2 3-11.3 7.4c-.9.6-1.5 1.3-1.9 2.1-.4.8-.6 1.6-.5 2.5.1.9.4 1.7.9 2.5s1.2 1.4 1.9 1.8c.8.4 1.6.5 2.5.5.9-.1 1.8-.4 2.6-1l11.3-7.4 2 3-11.3 7.4c-1.4.9-2.8 1.4-4.3 1.5-1.5.1-2.9-.2-4.2-.9-1.5-.6-2.6-1.6-3.5-3Zm5.3-36.9-1.4-3.3-20 8.6 5.5 12.7 3-1.3-4.1-9.4 17-7.3Zm-20.3-24c-.1-.6 0-1.2.3-1.7.4-.5.8-.8 1.5-.9.7-.1 1.2 0 1.7.3s.8.8 1 1.5c.1.6 0 1.2-.3 1.7s-.8.8-1.5 1c-.6.1-1.2 0-1.7-.3-.6-.4-.9-.9-1-1.6ZM350.2 185.6c-.6.6-1.4 1-2.3 1-1 0-1.8-.2-2.4-.8-.6-.6-.9-1.4-1-2.5l-.1-4.4 6.5-.2.1 4.4c.1 1.1-.2 1.9-.8 2.5Zm3.7-10.6-21.8.8.1 3.6 9.2-.3v.9l-9 7.8.2 4.5 9-8c.1 1.1.4 2.1.9 2.9.5 1 1.3 1.8 2.3 2.3 1 .5 2.1.8 3.3.7 1.2 0 2.3-.4 3.2-1 .9-.6 1.6-1.4 2.1-2.5s.8-2.3.7-3.6l-.2-8.1Zm-22.2-21.2 6.1-1.3 2.1 9.8 3.1-.7-2.1-9.8 5.7-1.2 2.3 10.7 3.2-.7-3.1-14.2-21.3 4.6 3.1 14.3 3.2-.7-2.3-10.8Zm10.3-19.4 3-1.2-6.8-16.4-3 1.2 2.7 6.6-17.1 7.1 1.4 3.3 17.1-7.1 2.7 6.5Zm-25.6-31.1 5.4 8.5 2.7-1.7-5.4-8.5 4.9-3.1 5.8 9.2 2.8-1.7-7.7-12.3-18.4 11.6 7.8 12.4 2.8-1.7-5.9-9.4 5.2-3.3ZM314 79.7l-9.7 1.4 2.1-9.7-2.9-3.1-2.6 12.8-13.6 1.8 2.7 3 10.7-1.4-2.5 10.3 2.8 3.1 3.1-13.3 12.6-1.8-2.7-3.1Zm-28.6-10.8 1.9-2.5-8-6 3.5-4.7 8.8 6.5 1.9-2.6-11.8-8.6-13 17.5 11.8 8.7 2-2.6-8.9-6.6 3.7-5 8.1 5.9Zm-29.1-28.6 1.2-3-13-5.3-8.2 20.2 3.3 1.3 3.5-8.7 9.2 3.7 1.2-3-9.2-3.7 2.2-5.5 9.8 4Zm-40 3.4c1.5.3 2.8.2 4-.2 1.2-.4 2.2-1.2 3.1-2.2.9-1 1.4-2.3 1.7-3.8.2-1.1.2-2.2.1-3.2-.2-1-.5-1.9-1-2.7-.5-.8-1.2-1.5-2-2s-1.8-.9-2.8-1.1c-1.4-.3-2.8-.2-4 .2-1.2.4-2.2 1.2-3.1 2.2-.8 1-1.4 2.3-1.7 3.8-.2 1.1-.2 2.2-.1 3.2.2 1 .5 1.9 1 2.7.5.8 1.2 1.5 2 2s1.7.9 2.8 1.1Zm-.6 3.4c-1.5-.3-2.9-.9-4.1-1.7-1.2-.8-2.2-1.8-3-3.1-.8-1.2-1.4-2.5-1.6-4-.3-1.4-.3-2.9 0-4.5.3-1.5.9-2.9 1.7-4.1.8-1.2 1.8-2.2 3-3.1 1.2-.8 2.5-1.4 3.9-1.7 1.4-.3 2.9-.3 4.4 0 1.5.3 2.9.9 4.1 1.7 1.2.8 2.2 1.8 3 3 .8 1.2 1.4 2.5 1.6 4 .2 1.5.3 2.9 0 4.5-.3 1.5-.9 2.9-1.7 4.1-.8 1.2-1.8 2.2-3 3.1-1.2.9-2.5 1.4-3.9 1.7-1.5.3-2.9.4-4.4.1ZM186.4 22l-4.1.3-5 9.3-6.3-8.5-4.1.3 8.8 11.7.7 9.5 3.6-.2-.7-9.6 7.1-12.8ZM159 28l-.8-3.2-17.3 4.2.8 3.2 6.9-1.7 4.3 18 3.5-.8-4.3-18L159 28Zm-24.3 26.4-7.9-20.3 3.3-1.3 7.9 20.3-3.3 1.3Zm-17 8.6c-1.5.8-2.9 1.3-4.3 1.3s-2.7-.2-4.2-.8l.9-3.3c.9.5 1.9.7 2.9.7s2-.3 3.1-.9c1.1-.6 1.8-1.3 2.1-2.1.4-.8.4-1.6-.1-2.3-.4-.6-.8-1.1-1.4-1.3-.6-.2-1.2-.3-1.9-.3s-1.4.1-2.2.3c-.8.1-1.5.3-2.3.4-.8.1-1.6.1-2.3 0-.8-.1-1.5-.4-2.2-.8-.7-.5-1.3-1.2-1.8-2.1-.6-1.1-.9-2.2-.8-3.3.1-1.1.5-2.1 1.2-3.1.7-.9 1.6-1.7 2.8-2.4 1.2-.7 2.5-1.1 3.8-1.1 1.3 0 2.4.1 3.4.5l-.9 3.3c-.9-.3-1.7-.5-2.5-.4-.8 0-1.5.3-2.3.7-.9.5-1.6 1.1-1.9 1.8-.3.7-.3 1.4.1 2 .3.6.8 1 1.3 1.1.5.2 1.1.2 1.8.2s1.4-.1 2.1-.3c.8-.1 1.5-.3 2.3-.4.8-.1 1.6-.1 2.4.1.8.2 1.5.4 2.2.9.7.5 1.3 1.2 1.9 2.2.9 1.7 1.1 3.4.5 5.1-.3 1.7-1.6 3.1-3.7 4.3Zm-35.1998 1.4 3.4-2.8c.9-.7 1.7-1 2.6-.9.9.1 1.6.5 2.1 1.2.6.8.9 1.6.8 2.4-.1.8-.6 1.6-1.4 2.3l-3.4 2.8-4.1-5ZM100.8 73.6l3.5-2.9-11.7998-2.4c.8-.8 1.4-1.6 1.8-2.4.5-1.1.6-2.1.5-3.2-.1-1.1-.6-2.1-1.4-3.1-.8-.9-1.7-1.6-2.7-2-1-.4-2.1-.4-3.3-.2-1.1.2-2.3.8-3.3 1.6l-6.3 5.1 13.8 16.9 2.8-2.3-5.8-7.2.7-.6L100.8 73.6ZM83.2002 89.3l-2.5-2.1-7.1 8.5-4.8-4 6.5-7.7-2.4-2-6.5 7.7-4.4-3.8 7-8.4-2.5-2.1-9.3 11.1 16.7 14 9.3-11.2Zm-32.8 6.2-1.9 3.3 10.5 13.4-16.8-2.7-2 3.4 23.2 3.4 1.3-2.1-14.3-18.7Zm4.2 39-20.1-8.4 1.4-3.3 20.1 8.4-1.4 3.3Zm-4.2 11-21.2-5.2-.8 3.5 14.6 3.6-17.4 7.6-.6 2.4 21.2 5.2.8-3.5-14.6-3.6 17.3-7.6.7-2.4Zm-5.8 36.1c-.1 1.6-.5 3.1-1.3 4.4-.8 1.3-1.9 2.2-3.2 3-1.3.8-2.8 1-4.4.9l-13.5-.6.2-3.6 13.5.6c1.1 0 2-.1 2.8-.5.8-.4 1.4-1 1.9-1.7.5-.8.7-1.6.8-2.5.1-1-.1-1.8-.5-2.6s-1-1.4-1.7-1.9c-.8-.5-1.7-.7-2.7-.8l-13.5-.6.2-3.6 13.5.6c1.6.1 3.1.5 4.3 1.3 1.2.8 2.2 1.9 2.9 3.2.5 1.2.8 2.7.7 4.4ZM647.8 83.3c0-4.8 3.9-8.7 8.7-8.7 4.8 0 8.7 3.9 8.7 8.7 0 4.8-3.9 8.7-8.7 8.7-4.8 0-8.7-3.9-8.7-8.7ZM459.6 85v53.9c0 26.5 14.9 41.1 41.3 41.1 26.8 0 41.8-14.5 41.8-41.7V85c0-5.5 2.7-10.7 7.2-13.8l3.8-2.7h-31.8l4.4 2.7c4.9 3.1 7.9 8.4 7.9 14.2v49.8c0 11.5 0 36.6-29.4 36.6-26.9 0-30.3-20.1-30.3-36.6V84.9c0-5.5 2.7-10.6 7.1-13.7l3.8-2.6h-36.6l3.8 2.7c4.3 3.1 7 8.2 7 13.7Zm190.5 39.3v38.5c0 4.9-2.2 9.6-5.9 12.8l-2.6 2.2h30.7l-2.8-2.2c-4.1-3.2-6.6-8.1-6.6-13.3v-61.8l-21.4 8.4 3.4 3.3c3.3 3.2 5.2 7.6 5.2 12.1Zm264.8 48.9c-7.9 0-17-8.3-19.8-14.8l-9.4 11c4.7 6 18.1 10.6 27.1 10.6 18.1 0 30.7-8.9 30.7-23.2 0-11.9-6.8-17.1-18.1-21.6l-7.8-3.2c-9.2-3.7-15.8-7.5-15.8-14.6s5.3-10.5 12.7-10.4c12.4.1 18.6 13 18.6 13 2.7-5.1 3.9-7.4 7-13.2-5.7-3-14.5-6.7-23.8-6.7-16.6 0-27.4 8.2-27.4 21.5 0 13.2 10.1 18.1 19.8 22l8.1 3.3c7.5 3.1 12.9 6.1 12.9 13.5.1 8.8-5.8 12.8-14.8 12.8Zm-228.6-51.7 21.6 56.3H718l22.5-56.4c1.5-3.7 3.5-7.2 6-10.4 2.5-3.1 5.4-5.9 8.7-8.2h-24.6l.1.1c3.3 4.4 4.1 10.2 2.2 15.4l-14.4 38c-.9 2.4-1.7 4.7-2.4 7.1-.7-2.3-1.4-4.7-2.3-7.1l-14.7-38c-.7-1.9-1.1-3.9-1.1-5.8 0-3.4 1.1-6.8 3.2-9.7h-29.6c6.6 4.6 11.8 11.1 14.7 18.7ZM965.2 92c4.8 0 8.7-3.9 8.7-8.7 0-4.8-3.9-8.7-8.7-8.7-4.8 0-8.7 3.9-8.7 8.7 0 4.8 3.9 8.7 8.7 8.7Zm-213.6 36.8c4.6-16.3 20.4-28.1 37.1-28.1 16.7 0 31.3 11.8 35.9 28.1.7 2.3 1.1 4.8 1.4 7.2h-58.7v.6c0 .3 0 .5-.1.8v3.3c.7 16.2 10.7 29.2 24.1 30.3.6 0 1.2.1 1.8.1 11.3 0 21-8.6 24.8-20.7h7.1c-4.2 17-18.6 29.5-35.7 29.5-20.4 0-39.2-17.8-39.2-39.7 0-1.5.1-2.9.2-4.3.1-2.4.6-4.8 1.3-7.1Zm16.7 0h40.2c-2.9-11.9-9.1-20.7-18.5-21.5-.5 0-1.1-.1-1.6-.1-10.1 0-16.9 9-20.1 21.6Zm63.9 46.8-2.6 2.2h31.6l-3.2-2.2c-4.5-3.1-7.2-8.3-7.2-13.8v-36.4c13.5-12.8 29.8-8.3 29.8-8.3V99.9c-22.3 0-30.7 17.7-30.7 17.7l-1.5-17.1-18.2 8.4 3.5 3.9c2.8 3.1 4.3 7.1 4.3 11.2v38.8c.1 4.9-2.1 9.6-5.8 12.8Zm-73.1 115-15.9-22.9 15.8-19.5c4.1-5.1 8.8-9.7 13.9-13.7l2-1.6h-27.1c4.7 4 5.5 10.9 1.8 15.8-3.5 4.7-7 9.4-10.6 14.1l-9.9-14.6c-3.2-4.8-2.5-11.2 1.7-15.1l.3-.3h-33.5l.5.4c6.3 4.4 11.7 9.9 16 16.2l16.1 23.3-15.7 20c-4.2 5.4-9.1 10.2-14.5 14.4l-.9.7h27l-.1-.1c-5.1-3.9-6.1-11.1-2.3-16.2 3.5-4.7 7-9.5 10.5-14.2l10.8 15.6c3.2 4.6 2.7 10.8-1.3 14.8l-.1.1H777l-.1-.1c-6.9-4.4-13-10.3-17.8-17.1Zm212.5-128.3v-61.8l-21.4 8.4 3.4 3.3c3.3 3.2 5.1 7.5 5.1 12.1v38.5c0 4.9-2.2 9.6-5.9 12.8l-2.6 2.2H981l-2.8-2.2c-4.2-3.2-6.6-8.1-6.6-13.3Zm-53.5 106.1v2.4c.7 16.2 10.7 29.2 24.1 30.3.6 0 1.2.1 1.8.1 11.3 0 21-8.6 24.8-20.7h7.1c-4.2 17-18.6 29.5-35.7 29.5-20.4 0-39.2-17.8-39.2-39.7 0-1.5.1-2.9.2-4.3.2-2.5.7-4.9 1.4-7.2 4.6-16.3 20.4-28.1 37.1-28.1 16.7 0 31.3 11.8 35.9 28.1.7 2.3 1.1 4.8 1.4 7.2h-58.7v1.4c-.2.5-.2.7-.2 1Zm1.2-9.5h40.2c-3-11.9-9.1-20.7-18.6-21.5-.5 0-1-.1-1.6-.1-10 0-16.9 9-20 21.6Zm165.3-156.2c4.8 4.4 6.5 11.2 4.4 17.3-4.2 12-14.9 42.6-15.9 46.1-.9-3.4-16.2-45.4-16.2-45.4-2.4-6.5-.4-13.7 5-18.1l-28.5-.1h-23V75.8l-13.1 11.5v15.3h-12.7v7.9h12.7v52.1c0 8.1 4.1 16.5 17.9 16.5 6.3 0 13.3-2.3 19.2-6.9l-1.3-3.7c-16.4 3.8-22.6 1.1-22.6-9.9v-48h28.4l25.3 67.2h4.8s-10.1 22.2-26.3 22.2l6.2 11c14.9-4.3 24.7-26.5 33.3-49.4l17.2-46c1.4-3.7 3.6-7 6.5-9.6l3.5-3.2-24.8-.1ZM877.6 289v-47.9h19.2V233h-19.2v-26.8l-13.1 11.5V233h-12.7v8.1h12.7v52c0 8.1 4.1 16.5 17.9 16.5 6.3 0 13.3-2.3 19.2-6.9l-1.3-3.7c-16.5 3.8-22.7 1-22.7-10Zm-354-29.3c0 26.1-20.9 49.6-47.6 49.6-18.2 0-27.9-9.5-27.9-29 0-26.1 20.9-49.6 47.6-49.6 18.3 0 27.9 9.5 27.9 29Zm-15-7.5c0-10-3.1-15.6-12.9-15.5-18.8.1-32.4 27.2-32.4 51.2 0 10 3.1 15.6 12.9 15.5 18.7-.2 32.4-27.3 32.4-51.2Zm494.3-4.8-1.5-17.1-18.2 8.4 3.5 3.9c2.8 3.1 4.3 7.1 4.3 11.2v38.8c0 4.9-2.2 9.6-5.9 12.8l-2.6 2.2h31.6l-3.2-2.2c-4.5-3.1-7.2-8.3-7.2-13.8v-36.4c13.5-12.8 29.8-8.3 29.8-8.3v-17.3c-22.2.1-30.6 17.8-30.6 17.8Zm-459-23.7c-.6 3-1.1 6-1.7 9.1h-14.3v7.3l-.1.3h13l-12.1 63.9c-2.2 11.7-4.9 21.8-18 36.6l2.7 2.3c16.1-9.5 24.7-19.8 27.5-34.7l13.1-68 22.6-.2v-7.5h-21.1c4.2-21.6 5.2-38.8 16.8-38.8 3.8 0 10.7 2.2 16 6l5.2-9.6c-2.4-2.5-9.3-4.3-13.7-4.3-17.9 0-31.7 15.3-35.9 37.6Zm61.6-48.1-2.6 2.2h30.3l-2.7-2.2c-3.9-3.2-6.2-8-6.2-13v-37c0-14.8-5.3-25.1-22.6-25.1-9 0-17.8 4-24 11.6-.6-4-1.5-11.6-1.5-11.6l-19.6 8.4 3.7 3.7c3.1 3.1 4.9 7.4 4.9 11.8v38.3c0 4.9-2.2 9.6-5.9 12.8l-2.6 2.2h30.7l-2.8-2.1c-4.2-3.2-6.6-8.1-6.6-13.4v-40.1c2.1-4.2 9.4-11.3 18-11.3 12.3 0 15.6 6.1 15.6 17.1v34.6c0 5.2-2.3 9.9-6.1 13.1Zm185.4 92.8v2.4c.7 16.2 10.7 29.2 24.1 30.3.6 0 1.2.1 1.8.1 11.3 0 21-8.6 24.8-20.7h7.1c-4.2 17-18.6 29.5-35.7 29.5-20.4 0-39.2-17.8-39.2-39.7 0-1.5.1-2.9.2-4.3.2-2.5.7-4.9 1.4-7.2 4.6-16.3 20.4-28.1 37.1-28.1 16.7 0 31.3 11.8 35.9 28.1.7 2.3 1.1 4.8 1.4 7.2H791v.6c0 .3 0 .5-.1.8v1Zm1.2-9.5h40.2c-2.9-11.9-9.1-20.7-18.5-21.5-.5 0-1.1-.1-1.6-.1-10.1 0-17 9-20.1 21.6Zm-137.2 42h-16.7l.2-48.6h13.8c5.1 0 10.1.6 15.1 1.7l14.2 3.2v-15.4l-15 3.1c-4.6 1-9.2 1.4-13.9 1.4h-14.4V205h18.5c6.1 0 12.1 1.4 17.6 4.1l16.8 8.2-1.7-18.7h-77l3.8 2.7c4.5 3.1 7.2 8.3 7.2 13.8v76.4c0 5.5-2.7 10.6-7.2 13.7l-3.8 2.7h79.5l1.3-19.5-17.1 7.9c-6.8 3-13.9 4.6-21.2 4.6Z"
				></path>
			</svg>
		</div>
	</div>
</article>
